<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="footer">
	<footer class="page-footer font-small cyan darken-3"
		style="background-color: #C6F1E7;">
		<div class="footer-copyright text-center py-3"
			style="font-weight: bold;">배드민턴 통합 서비스, KiWi</div> <br>

		<div style="float: left; width: 35%;">&nbsp;</div>

		<div style="float: left; width: 7%;">
			<img src="/img/kiwi.png"
				style="width: 80px; height: 80px; margin-left: 20px;">
		</div>

		<div style="float: left; width: 40%;">
			<div style="font-weight: bold;">contact.</div>
			<div style="float: left; font-weight: bold;">김민솔</div>
			<div>&nbsp;minisol206@naver.com 010-6574-7170</div>
			<div style="float: left; font-weight: bold;">김종하</div>
			<div>&nbsp;gbr369369@naver.com 010-7317-8255</div>
		</div>

		<div></div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</footer>

</div>
</html>