<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
	<div class="menuLeft">
	<div style="border: 1px solid #094B80; background-color:white; float:center; height:320px; width:340px; margin-right:15px; margin-left:30px; margin-top:30px; text-align: center;">
		<img src="/img/포그.png" alt="fog" style="margin-top: 10px; width: 300px; height:300px;object-fit: cover;border-radius: 30%; overflow: hidden;">
		
	</div>
	<div style="border: 1px solid #094B80; background-color:white; float:center; height:70px; width:340px;margin-right:15px; margin-left:30px;text-align: center; margin-bottom: 5px">

	<h5 style="float:left; margin-left:20px; margin-bottom: 0px;  margin-top:10px; color:black;">스누피</h5><br>
		<a th:href="'http://localhost/fog/' + ${fogid}" style="float:left; font-size:17px; margin-top:11px; margin-left:-60px; color: black">http://localhost/fog/snoppy</a> <!-- th:href="@{http://localhost/fog/{id}(id = ${member.fogid})}" -->
	</div>
		<Br><Br>
		
	<ul>
		<li><a class="home" href="../mypage/write">작성하기</a></li><br>
		<li><a href="../mypage/category">카테고리 관리</a></li>
		<li><a href="../mypage/fogEdit">포그 관리</a></li>
		<li><a href="../mypage/main">방문자 통계</a></li>
		<!-- <li><a href="#">채팅 목록</a></li> -->
		<li><a href="../mypage/setting">설정</a></li>
	</ul>
</div>
</div>

</html>