<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="footer">
	<footer class="page-footer font-small cyan darken-3" style="background-color: #EBF7FD; margin-left: 300px;">
	<Br>
		<div class="footer-copyright text-center py-3" style="font-weight: bold;">포트폴리오 관리 사이트, 포그</div> <br>

		<div style="float: left; width: 35%;">&nbsp;</div>

		<div style="float: left; width: 7%;">
			<img src="/img/포그투명.png" style="width: 95px; height: 80px; margin-left: 10px; ">
		</div>

		<div style="float: left; width: 40%; margin-left: 10px;">
			<div style="font-weight: bold;">contact.</div>
			<div style="float: left; font-weight: bold;">김민솔</div>
			<div>&nbsp;minisol206@naver.com 010-6574-7170</div>
			<div style="float: left; font-weight: bold;">김종하</div>
			<div>&nbsp;gbr369369@naver.com 010-7317-8255</div>
		</div>

		<div></div>
		<br>
		<br>
		<br>
		<br>
		<br>
	</footer>

</div>
</html>